<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NetMonitor.Properties.Appearance" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NetMonitor.appearance" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NetMonitor.Properties.Settings>
            <setting name="NetAdapter" serializeAs="String">
                <value />
            </setting>
        </NetMonitor.Properties.Settings>
        <NetMonitor.Properties.Appearance>
            <setting name="locationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value />
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Blue</value>
            </setting>
        </NetMonitor.Properties.Appearance>
        <NetMonitor.appearance>
            <setting name="locationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationY" serializeAs="String">
                <value>0</value>
            </setting>
        </NetMonitor.appearance>
    </userSettings>
</configuration>